
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inavid API</title>
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Inavid API</a>
          <ul class="nav">
            
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <footer>
        <p>&copy;Inavid</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>