<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
        <h1>¡Bienvenido!</h1> 
        <p>¿Cuanto deseas retirar?</p> 
        </div>
    </div>
    <div class="alert alert-danger alert-dismissable hide text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong></strong>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <form 
                class="navbar-form" 
                role="search" 
                #formUsuario="ngForm" 
                (ngSubmit)="onSubmit(cantidad.value)">
                <div class="form-group">
                    <input 
                        type="number" 
                        min="0" 
                        step="1" 
                        class="form-control" 
                        placeholder="Cantidad a retirar"
                        #cantidad 
                        required
                    >
                </div>
                <button type="submit" class="btn btn-success">Retirar</button>
            </form>
        </div>
    </div>
</div>